body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
}

.bar {
  padding: 20px;
  background-color: rgb(10, 190, 190);
  color: white;
}

.subm {
  margin-top: 100px;
}

input {
  border: none;
  border-bottom: 1px solid rgb(183, 187, 187);
  width: 300px;
  display: grid;
  padding: 10px;
  margin: 20px;
}

button {
  background-color: rgb(10, 190, 190);
  border: none;
  width: 70px;
  height: 35px;
  color: white;
}

button:hover {
  background-color: rgb(31, 153, 153);
}

.btnBack {
  margin-left: 15px;
  background-color: white;
  border: 1px solid rgb(10, 190, 190);
  color: black;
}

.btnBack:hover {
  background-color: rgb(233, 233, 233);
}

.center {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 350px;
}

.confirm{
  background-color: rgb(10, 190, 190);
  border: none;
  width: 150px;
  height: 35px;
  color: white;
}

.pConfirm {
  margin: 17px;
  font-weight: 600;
}

.marg {
  margin-bottom: 50px;
}

.info {
  color: rgb(110, 110, 110);
}

.info1 {
  margin-top: 50px;
  padding: 30px;
}